<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rescue Rabbit</title>

    <link rel="stylesheet" href="~/assets/css/site.css" />
    <link rel="stylesheet" href="~/jspm_packages/npm/font-awesome@4.5.0/css/font-awesome.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div>
        @await Html.PartialAsync("_Header")
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>