<div ng-controller="ServiceDirectoryController as ctrl">
    <service-directory-map></service-directory-map>
</div>

@section Scripts {
    @await Html.PartialAsync("_AppScriptsPartial")
    <script type="text/javascript">
        System.import("/src/apps/service-directory/service-directory.js").then(function (m) {
            m.start({});
        });
    </script>
}